@font-face {
    font-family: "PermanentMarker";
    src: url("../../assets/fonts/PermanentMarker-Regular.ttf");
}

.modal-body{
    padding-bottom: 0px;
}

.font-logo{
    font:1.5rem PermanentMarker, Sans-serif;
    color: #14992F !important;
}

.btn-secondary{
    background-color: #14992F !important;
    border-color: #14992F !important;
}

.nav-link{
    font-size: 1.1rem;
    color: #14992F;
}