<html>

<head>
    <link rel="stylesheet" href="..\..\assets\api\bootstrap-4.1.3-dist\css\bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap">
    <link rel="stylesheet" href="..\stylesheets\navbar.css">
    <link rel="stylesheet" href="..\stylesheets\index.css">
    <link rel="stylesheet" href="..\stylesheets\index.css">

</head>

<body>
    <!-- Nav bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand font-logo" href="index.html">
            <!-- <i data-feather="wind"></i> -->
            <img src="../../assets/img/logo/vpb-32.png" class="d-inline-block align-top" alt="">
            VIAJE PELO BRASIL
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal">Entrar</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="criar-conta.html" data-toggle="" data-target="">Criar conta</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Endereço de e-mail</label>
                            <input type="email" class="form-control" id="input-email" placeholder="nome@exemplo.com" autocomplete="off">
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Senha</label>
                            <input type="password" class="form-control" id="inpút-senha" autocomplete="off">
                        </div>

                        <div class="form-group">
                            <a href="#">Esqueceu a senha?</a>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-info">Entrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Carousel -->
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel" data-interval="6000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="..\..\assets\img\carousel\foz-iguaçu-carousel.png" class="d-block w-100 img-carrosel"
                    alt="Foz do Iguaçu">
            </div>
            <div class="carousel-item">
                <img src="..\..\assets\img\carousel\fernando-noronha-carousel.png" class="d-block w-100 img-carrosel"
                    alt="Fernando de Noronha">
            </div>
            <div class="carousel-item">
                <img src="..\..\assets\img\carousel\chapada-diamantina-carousel.png" class="d-block w-100 img-carrosel"
                    alt="Chapada da Diamantina">
            </div>
        </div>
    </div>

    <!-- Propaganda -->
    <div class="container-fluid padding-block bg-light">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h3 class="text-center titulo">Agende sua viagem</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 propaganda-item">
                <h5 class="text-center propaganda-titulo-item">Pacotes ideiais para você</h5>
                <p class="text-justify">Planeje sua viagem com pacotes prontos ou monte um personalizado de acordo
                    com seus gostos e necessidades.</p>
            </div>
            <div class="col-md-4 propaganda-item">
                <h5 class="text-center propaganda-titulo-item">As melhores ofertas</h5>
                <p class="text-justify">Aqui você encontra as melhores opções de passagens aéreas, os hotéis
                    melhores avaliados, além
                    de atividades, passeios e aluguel de carros para o seu destino preferido.</p>
            </div>
            <div class="col-md-4 propaganda-item">
                <h5 class="text-center propaganda-titulo-item">Aproveite suas Férias</h5>
                <p class="text-justify"> Agende sua viagem de férias para o lugar que sempre sonhou do jeito que
                    desejar.</p>
            </div>
        </div>
    </div>

    <!-- Pacotes -->
    <div class="container-fluid padding-block">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h3 class="text-center titulo">Pacotes Imperdíveis</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <article class="card card-largura border-dark p-0 m-3 col-12 col-md-6 col-lg-3">
                <img src="img/angularjs.jpg" class="card-img-top card-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title font-exo font-weight-bold">Angular JS</h5>
                    <p class="card-text font-exo">AngularJS é um framework JavaScript código aberto, mantido
                        pelo Google,
                        que auxilia na execução de single-page applications.</p>
                    <a href="#" class="btn btn-info font-exo">Conheça mais</a>
                </div>
            </article>

            <article class="card card-largura border-dark p-0 m-3 col-12 col-md-6 col-lg-3">
                <img src="img/apachespark.jpg" class="card-img-top card-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title font-exo font-weight-bold">Apache Spark</h5>
                    <p class="card-text font-exo">Apache Spark é um framework código aberto que provê uma
                        interface para
                        programação de clusters com paralelismo e tolerância a falhas.</p>
                    <a href="#" class="btn btn-info font-exo">Conheça mais</a>
                </div>
            </article>

            <article class="card card-largura border-dark p-0 m-3 col-12 col-md-6 col-lg-3">
                <img src="img/bootstrap.jpg" class="card-img-top card-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title font-exo font-weight-bold">Bootstrap</h5>
                    <p class="card-text font-exo">Bootstrap é um framework web para desenvolvimento de
                        componentes de
                        interface para sites e aplicações web amigáveis e responsivos.</p>
                    <a href="#" class="btn btn-info font-exo">Conheça mais</a>
                </div>
            </article>

            <article class="card card-largura border-dark p-0 m-3 col-12 col-md-6 col-lg-3">
                <img src="img/django.jpg" class="card-img-top card-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title font-exo font-weight-bold">Django</h5>
                    <p class="card-text font-exo">Django é um framework para desenvolvimento rápido para
                        web, escrito em
                        Python, que utiliza o padrão model-template-view.</p>
                    <a href="#" class="btn btn-info font-exo">Conheça mais</a>
                </div>
            </article>
        </div>
    </div>

    <!-- Buscador -->
    <div class="container-fluid buscador">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" id="pesquisa" placeholder="" required>
                        <div class="input-group-prepend">
                            <button class="btn btn-primary" type="button">
                                <i data-feather="search"></i>
                            </button>
                        </div>
                        <div class="invalid-feedback" style="width: 100%;">
                            Digite um email válido.
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="..\..\assets\api\bootstrap-4.1.3-dist\js\jquery-3.4.1.slim.min.js"></script>
    <script src="..\..\assets\api\bootstrap-4.1.3-dist\js\popper.min.js"></script>
    <script src="..\..\assets\api\bootstrap-4.1.3-dist\js\bootstrap.min.js"></script>
    <script src="..\..\assets\api\feather\feather.min.js"></script>
    <script>
        feather.replace()
    </script>
</body>
</html>